@charset "UTF-8";

@font-face {
    font-family: 'Bebas Neue';
    src: url(fontes/bebas_neue/BebasNeue-Regular.otf);
}

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf);
}


:root {
    --cor0: #C5EBDB;
    --cor1: #82E0AD;
    --cor2: #3DDB84;
    --cor3: #2FA866;
    --cor4: #063D1E;
    --font0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'Android', sans-serif;
    
}

body {
    font-family: var(--font0);
    color: var(--cor0);
    background-color: var(--cor0);
    margin: 0px 0px 0px 0px;   
      
}

header {
    font-family: var(--fonte1);
    font-size: 3em;
    text-align: center;    
    margin: 0px 0px 0px 0px; 
    padding: 30px 0px 10px 0px;
    background-image: linear-gradient(to top, var(--cor4), var(--cor3), #217e4ab2);  
    

    
}

header > h1 {
    font-family: var(--fonte1);
    font-size: 48px;
    font-weight: lighter;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    color: white;
    margin: 10px auto;
    padding: 0px 0px 0px 0px;
}

header > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    max-width: 500px;
    color: rgb(255, 255, 255);
    text-align: center;    
    margin: auto;
    padding: 10px 10px 10px 10px;
    
}

header > nav {
    font-family: var(--font0);
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 0px 15px;
        
}

nav > a {
    font-family: var(--font0);    
    color: var(--cor1);
    font-size: 1em;
    padding: 10px;
    font-weight: bolder;
    text-decoration: none;
    margin-left: 0px;
    margin-right: 0px;  
    transition-duration: .5s;  
}

nav > a:hover {
    background-color: var(--cor3); 
    color: white; 
    padding: 10px 10px 10px 10px;
    border-radius: 10px;   
    
}

main {    
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 42%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;   
    
    
}

main > h1 { 
    font-family: var(--fonte2);
    font-weight: 100;
    color: #063D1E;
    text-align: left;    
    margin-top: 0px;    
    margin-left: 20px;    
    padding-top: 10px; 
      
}

main > h2 {
    background-image: linear-gradient( to right, var(--cor1), transparent);
    font-family: var(--fonte2);    
    font-weight: normal;        
    color: var(--cor4);
    margin-left: 20px;
    text-indent: 8px;
    
}


img {
    width: 100%;
    margin: auto;
    display: block;
  }

img.bug {
    width: 50%;
    margin: auto;
    display: block;
  }


p {    
    color: black;
    padding: 10px 10px 10px 10px;
    line-height: 2.0em;
    text-indent: 30px;
}

p > a {
    font-family: var(--font0);
    background-color: var(--cor1);
    text-decoration: none;
    color: var(--cor4);
    font-weight: bolder;
    margin: 3px 5px 3px 5px;
    padding: 3px 5px 3px 5px;
}

p > a:hover {
    text-decoration: underline;
}

strong {
    font-family: var(--font0);    
    color: var(--cor4);
    text-indent: 30px;
}

div.video {
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.artigo01 {
    background-color: var(--cor4);
    font-family: var(--font0);
    font-weight: bold;
    text-align: left;
    text-indent: 0px;
    color: white;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
}

article > aside {
    background-color: var(--cor1);
    font-family: var(--font0);
    color: black;   
    border-radius: 0px 0px 10px 10px; 
    margin: auto;
}

aside > ul {
    list-style-type:'\2714\0020\0020';    
    columns: 2; 
    list-style-position: inside;    
    padding-left: 10px;    
}

footer {
    background-color: var(--cor4);
    font-family: var(--font0);
    font-style: italic;
    color:white;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding-top: 5px;
    padding-bottom: 5px;


}
mark {
    font-family: var(--font0);
    font-size: 18px;    
    background-color: white;
    color: var(--cor4);
    font-weight: bold;
}

aside > p > strong {
    font-family: var(--font0);
    background-color: var(--cor1);
    color: var(--cor4);
    text-indent: 30px;
    
}

body > footer > p {
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

}

footer > p > a {
    background-color: var(--cor4);
    font-family: var(--font0);
    font-weight: bold;
    color: white;
    text-align: justify;
    margin-left: -2px;
    margin-right: -2px;
}

.textend {
    font-family: var(--font0);    
    color: var(--cor4);
    text-indent: 30px;
}


